#profile-pic {
  height: 400px;
  width: 400px;
  margin-top: 65px;
}

img.pro-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-me {
  text-align: center;
}

ul {
  list-style-type: none;
}

